extends ../base/layout

block variables
  - const mainPage = false;
  - const currentPage = 'single';
  -
    const breadcrumbs = [
      {
        link: '/',
        label: 'Главная',
        current: false,
      },
      {
        link: 'blog.html',
        label: 'Блог',
        current: false,
      },
      {
        link: 'blog-single.html',
        label: 'Заголовок поста',
        current: true,
      },
    ];
  -
    const data = {
      id: 1,
      title: 'Мы открылись!',
      desc: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, deserunt.',
      image: 'https://via.placeholder.com/1200x650',
      date: '02.08.2022',
      author: 'Alexey Rakov',
      male: true,
      pinned: true,
      content: '<h1>Hic nostrum dolorem et consequatur animi et molestiae quas. </h1><p>Lorem ipsum dolor sit amet. At galisum galisum eum libero deserunt est inventore recusandae 33 sequi possimus ex quaerat dolor. In natus facere a quia dolorem <em>At rerum At suscipit quod in asperiores dolor qui asperiores unde</em>. Eos reprehenderit iste et dolorem nihil <strong>Qui maxime</strong>. </p><h2>Qui nobis sunt ea animi sunt eos dolorum dolor. </h2><p>Et atque quod est neque laborum id voluptate dolorem aut repellat fugiat ut dignissimos illum eos consequuntur dolorem et tempora facere! Et fugit quas <strong>Et sapiente est aliquam veritatis ut magni vitae</strong> et animi nihil cum eligendi optio. In tempore expedita vel quia doloresaut repellat non voluptatem sunt qui quia laudantium. </p><h1>Hic nostrum dolorem et consequatur animi et molestiae quas. </h1><p>Lorem ipsum dolor sit amet. At galisum galisum eum libero deserunt est inventore recusandae 33 sequi possimus ex quaerat dolor. In natus facere a quia dolorem <em>At rerum At suscipit quod in asperiores dolor qui asperiores unde</em>. Eos reprehenderit iste et dolorem nihil <strong>Qui maxime</strong>. </p><h2>Qui nobis sunt ea animi sunt eos dolorum dolor. </h2><p>Et atque quod est neque laborum id voluptate dolorem aut repellat fugiat ut dignissimos illum eos consequuntur dolorem et tempora facere! Et fugit quas <strong>Et sapiente est aliquam veritatis ut magni vitae</strong> et animi nihil cum eligendi optio. In tempore expedita vel quia doloresaut repellat non voluptatem sunt qui quia laudantium. </p>'
    };


block main
  section.section.blog-single
    .container
      .blog-single__inner
        .blog-single__guitar
          img(src="img/guitar-1.svg", alt="")
        .blog-single__breadcrumbs
          +breadcrumbs(breadcrumbs)
        .blog-single__sidebar
          .blog-single__info
            .blog-single__author
              if data.male === true
                +icon({name: 'male-user', width: 20, height: 20})
              else
                +icon({name: 'female-user', width: 20, height: 20})
              span !{data.author}
            .blog-single__date
              +icon({name: 'icon-calendar', width: 20, height: 20})
              small !{data.date}
        .blog-single__content
          .blog-single__top
            h1.blog-single__title !{data.title}
            p.blog-single__description !{data.desc}
          .blog-single__image
            img(src=data.image, alt=data.title)
          .blog-single__editor !{data.content}
  +contact()
