mixin estate-card({image, id, label, address, stats, metro, price})

  .estate-card&attributes(attributes)
    a.estate-card__image(href="estate-single.html")
      img(src=image, alt=label)
      .estate-card__price
        span !{price}
    .estate-card__body
      h3.estate-card__title
        a(href="estate-single.html") !{label}
      .estate-card__info
        p.estate-card__street.text.text--muted !{address}
        .estate-card__attributes
          each stat in stats
            span !{stat}
        .estate-card__metro
          ul.estate-card__metro-list
            each item in metro
              li.estate-card__metro-item(class=`estate-card__metro-item--${item.type}`)
                +icon({name: 'icon-metro', width: 20, height: 20})
                | !{item.label}
                span.estate-card__way
                  case item.way
                    when 'walk'
                      +icon({name: 'icon-walk', width: 15, height: 15})
                    when 'bus'
                      +icon({name: 'icon-bus', width: 15, height: 15})
                  | !{item.time}
      a.button.button--outlined.button--small.estate-card__link(href="estate-single.html") Подробнее



